<article class="ps-list-item">
  {% if image %}
    <figure class="ps-list-item-image">
      <img src="{{ image.src }}" alt="{{ image.alt|default('') }}">
    </figure>
  {% endif %}
  <div class="ps-list-item-copy">
    {% if subheading %}<p class="ps-eyebrow">{{ subheading }}</p>{% endif %}
    {% if heading %}<h3>{{ heading }}</h3>{% endif %}
    {% if description %}<p>{{ description }}</p>{% endif %}
    <div class="ps-list-item-links ps-list-item-links--{{ cta_style|default('text') }}">
      {% if link_text and link_url %}
        <a href="{{ link_url }}">{{ link_text }}{% if accessible_link_text %}<span class="visually-hidden">{{ accessible_link_text }}</span>{% endif %}</a>
      {% endif %}
      {% if second_link_text and second_link_url %}
        <a href="{{ second_link_url }}">{{ second_link_text }}{% if second_accessible_link_text %}<span class="visually-hidden">{{ second_accessible_link_text }}</span>{% endif %}</a>
      {% endif %}
    </div>
  </div>
</article>
